h1 {
  font-size: 20px;
}

.header {
  height:50px;
  background-color:#ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}


.content_post {
  padding: 0.5em 1em;
  margin: 2em 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content_post p {
  margin: 0; 
  padding: 0;
}

